<div>
  <div class="container valign-wrapper">
    <table class="bordered highlight">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Exercises</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let workout of workouts">
        <td>{{workout.id}}</td>
        <td>{{workout.name}}</td>
        <td>{{workout.description}}</td>
        <td>
          <ul *ngFor="let exercise of workout.exercises">
            <li><a href="/{{exercise.id}}">{{exercise.name}}</a></li>
          </ul>
        </td>
        <td><i class="material-icons">delete</i></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

